html, body {
	height: 100%;
}

body > div h6 {
	margin-right: 10px;
}

.vertical-center {
	display: flex;
	height: 98%;
  	height: 98vh;
}

.jumbotron {
	margin-bottom: 0;
	padding-bottom: 30px;
	padding-top: 30px;
}

.form-group-inline {
	display: inline;
}

.input-group {
	margin: 0.5em;
	width: 9%;
}